---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-pdok-nl-v1alpha1-ogcapi
  failurePolicy: Fail
  name: vogcapi-v1alpha1.kb.io
  rules:
  - apiGroups:
    - pdok.nl
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - ogcapis
  sideEffects: None
